{% extends "decorater.html" %}

{% block userstate %}
    {% if not user %}
        <div align="right">
            <a class="header-link-font header-link-font-hover" href="{{ url_for('login') }}"> Login </a>
        </div>
    {% else %}
        <div align="right">
            <div class="row">
                <div class="col-md-8">
                    <span class="header-link-font">{{ user.name }}</span>
                </div>
                <div class="col-md-4">
                    <a class="header-link-font header-link-font-hover" href="{{ url_for('logout') }}"> Logout </a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block sections %}
    <section class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        Categories
                    </div>
                    <div class="col-md-12">
                        <ul>
                            {% for category in categories %}
                                <li>
                                    <a href="{{ url_for('viewItems', categoryID = category.id) }}">{{ category.name }}</a>
                                    {% if user %}
                                        <span>
                                            <a href="{{ url_for('editCategory', categoryID = category.id) }}">
                                                <img alt=""
                                                     src="{{ url_for('static', filename='img/open-iconic-master/svg/pencil.svg') }}">
                                            </a>
                                        </span>
                                        {% if user.role == 2 %}
                                            <span>
                                                <a href="{{ url_for('deleteCategory', categoryID = category.id) }}">
                                                    <img alt=""
                                                         src="{{ url_for('static', filename='img/open-iconic-master/svg/trash.svg') }}">
                                                </a>
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </li>
                            {% endfor %}
                            {% if user %}
                                <li>
                                    <span>
                                        <a href="{{ url_for('addCategory') }}">
                                            <img alt=""
                                                 src="{{ url_for('static', filename='img/open-iconic-master/svg/plus.svg') }}">
                                            Add a Category
                                        </a>
                                    </span>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">Latest Items</div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <ul>
                            {% for item in items %}
                                <li>
                                    <a class="itemName" data-toggle="collapse" href="#description{{ item.id }}"
                                       role="button" aria-expanded="false" aria-controls="collapseExample">
                                        {{ item.name }}
                                        <span hidden>{{ item.id }}</span>
                                    </a>
                                    {% if user %}
                                        <span>
                                            <a href="{{ url_for('editItem', itemID = item.id) }}">
                                                <img alt=""
                                                     src="{{ url_for('static', filename='img/open-iconic-master/svg/pencil.svg') }}">
                                            </a>
                                        </span>
                                        {% if user.role == 2 %}
                                            <span>
                                                <a href="{{ url_for('deleteItem', itemID = item.id) }}">
                                                    <img alt=""
                                                         src="{{ url_for('static', filename='img/open-iconic-master/svg/trash.svg') }}">
                                                </a>
                                            </span>
                                        {%  endif %}
                                    {%  endif %}

                                    <div class="collapse" id="description{{ item.id }}">
                                        <div class="card card-body">
                                            {{ item.description }}
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript"
            src="{{ url_for('static', filename='js/controller.js') }}"></script>
{% endblock %}
