{% extends "decorater.html" %}

{% block imports %}
{{ super() }}
<script src="//apis.google.com/js/platform.js?onload=start"> </script>
{% endblock %}

{% block sections %}
<section class="container">
	<div class = "row">
		<div class = "col-md-4 offset-md-4">
			<div id="signinButton">
		    		<span class="g-signin"
		            data-scope="openid email"
		            data-clientid="{{clientID}}"
		            data-redirecturi="postmessage"
		            data-accesstype="offline"
		            data-cookiepolicy="single_host_origin"
		            data-callback="signInCallback"
		            data-approvalprompt="force">
		    		</span>
	        </div>
		</div>
		<div class = "col-md-12">
			<div id="result"></div>
		</div>
	</div>
</section>
{% endblock %}